// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #154985;
$secondary : #d8d8d8;
$accent    : #f8b02a;
$tertiary  : #5da8ba;

$dark      : #2c3e50;

$positive  : #21BA45;
$negative  : #ff5252;
$info      : #5da8ba;
$warning   : #f8b02a;

@import '~quasar-variables-styl'
